@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .center {
    @apply flex justify-center items-center;
  }
}

.mask {
  mask-image: url("/mask.svg");
  mask-repeat: no-repeat;
  mask-size: 30px;
  cursor: default;
}